spring-wangyw-test/src/main/resources/META-INF/Spring-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.wangyw.com/schema/user"
		xmlns:tns="http://www.wangyw.com/schema/user"
		elementFormDefault="qualified">
	<element name="customer">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
		</complexType>
	</element>
</schema>